<!-- <h1 class ="header">Api Demo</h1>
<div class="productContainer" #x>

    <div *ngFor="let val of data" >
        <div class="product" >
        <img src="{{val.image}}" alt="{{val.title}}" height="250px" width="300px">

        <h1 class="font">{{val.title}}</h1>
        <p>{{val.price}}</p>

        </div>
    </div>
</div> -->


<h1>Pipes Demo</h1>
<h1>{{title | pvc :'hello' : 'bye'}}</h1>
<p>Price details are : {{person | json}}</p>
<p>object details are : {{person | json}}</p>
<p>{{d | date : 'dd/mm/yyyy'}}</p>
